/* Just a visualisation here */

.palette-row {
    margin-bottom: 6rem;
}

.palette-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.palette-wrapper {
    width: 100%;
}

.color-box {
    margin: 0 1rem;
    padding: 6rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    transition: transform 0.2s linear;
    box-shadow: 0px 1px 5px 0px #00000030;
}

.color-box:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 1px 8px 0px #00000040;
}

.color-label {
    text-align: center;
    color: #a3a3a3
}
/* FARGE 1*/
.palette-row-1 .box-1 {
    background-color: #086E5E;
}

.palette-row-1 .box-2 {
    background-color: #3FC7B2;
}

.palette-row-1 .box-3 {
    background-color: #A0FAEC;
}

.palette-row-1 .box-4 {
    background-color: #C0D6D1;
}

.palette-row-2 .box-1 {
    background-color: #B36342;
}

.palette-row-2 .box-2 {
    background-color: #C76740;
}

.palette-row-2 .box-3 {
    background-color: #FABAA0;
}

.palette-row-2 .box-4 {
    background-color:#FFD0BD;
}

/* FARGE 2*/
.palette-row-3 .box-1 {
    background-color: #152F38;
}

.palette-row-3 .box-2 {
    background-color: #327085;
}

.palette-row-3 .box-3 {
    background-color: #469BB8;
}

.palette-row-3 .box-4 {
    background-color: #73BAD1;
}

.palette-row-4 .box-1 {
    background-color: #2B1C00;
}

.palette-row-4 .box-2 {
    background-color: #FFA03D;
}

.palette-row-4 .box-3 {
    background-color:#FFBA68;
}

.palette-row-4 .box-4 {
    background-color: #FFE1B9;
}

/* FARGE 3*/
.palette-row-5 .box-1 {
    background-color: #1F5221;
}

.palette-row-5 .box-2 {
    background-color: #328535;
}

.palette-row-5 .box-3 {
    background-color: #599E5B;
}

.palette-row-5 .box-4 {
    background-color: #9BD19D;
}

.palette-row-6 .box-1 {
    background-color: #66180C;
}

.palette-row-6 .box-2 {
    background-color: #B35134;
}

.palette-row-6 .box-3 {
    background-color:#B3604B;
}

.palette-row-6 .box-4 {
    background-color: #FCDCD6;
}

/* FARGE 4*/
.palette-row-7 .box-1 {
    background-color: #211F52;
}

.palette-row-7 .box-2 {
    background-color: #353285;
}

.palette-row-7 .box-3 {
    background-color: #544FD1;
}

.palette-row-7 .box-4 {
    background-color: #9D9BD1;
}

.palette-row-8 .box-1 {
    background-color: #DB852C;
}


.palette-row-8 .box-2 {
    background-color: #FFBC67;
}


.palette-row-8 .box-3 {
    background-color: #FFE478;
}

.palette-row-8 .box-4 {
    background-color: #FFF1BB;
}

@media screen and (max-width: 1000px) {
    .palette-row {
        margin-bottom: 4rem;
    }
    .color-box {
        margin: 0 0.5rem;
        padding: 2rem;
    }
}