/* CSS for fonter (kun her) */

/* Hent ut navnet på fonten og putt i style.css */

.fonts span {
    color: red
}

.noto-serif {
    font-family: 'Noto Serif', serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.noto-sans {
    font-family: 'Noto Sans', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}