/* The generic CSS that is implemented in every page */

/* Fonts */

/* @font-face {
    font-family: "";
    src: url("../../font/");
}

@font-face {
    font-family: "";
    src: url("../../font/");
    font-weight: 200;
}

@font-face {
    font-family: "";
    src: url("../../font/");
    font-weight: 400;
}

@font-face {
    font-family: "";
    src: url("../../font/");
    font-weight: 600;
}

@font-face {
    font-family: "";
    src: url("../../font/");
    font-weight: 800;
} */

/* Commons */

:root {
    --title-color: #151515;
    --text-color: #121212;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Containers */

.container-fluid {
    width: 100%;
    padding: 2rem 1rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Typografi */

h1, h2, h3, h4, h5 {
    color: var(--title-color);
    letter-spacing: 1.1px;
}

h1 {
    font-size: 108px;
    line-height: 108.5px;
}

h2 {
    font-size: 61px;
    line-height: 67.5px;
}

h3 {
    font-size: 45px;
    line-height: 49.5px;
}

h4 {
    font-size: 29px;
    line-height: 25px;
}

h5 {
    font-size: 11px;
    line-height: 20px;
}

p {
    color: var(--text-color);
    font-weight: 400;
    line-height: 25px;
}

.light {
    font-weight: 200;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 800;
}

/* Media: Tablet */

@media screen and (max-width: 1000px) {
    /* Typografi */
    h1 {
        font-size: 108px;
        line-height: 108.5px;
    }
    h2 {
        font-size: 61px;
        line-height: 67.5px;
    }
    h3 {
        font-size: 45px;
        line-height: 49.5px;
    }
    h4 {
        font-size: 29px;
        line-height: 25px;
    }
}

/* Media: Mobile */

@media screen and (max-width: 750px) {
    /* Typografi */
    h1 {
        font-size: 108px;
        line-height: 108.5px;
    }
    h2 {
        font-size: 61px;
        line-height: 67.5px;
    }
    h3 {
        font-size: 45px;
        line-height: 49.5px;
    }
    h4 {
        font-size: 29px;
        line-height: 25px;
    }
}